// @import {orange} from '@ant-design/colors';
$lightGreen: #b9e7e7;

$orange1:#fff7e6;
$orange2:#ffe7ba;
$orange3:#ffd591;
$orange4:#ffc069;
$orange5:#ffa940;
$orange6:#fa8c16;
$orange7:#d46b08;
$orange8:#ad4e00;
$orange9:#873800;
$orange10:#612500;

